<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>

</head>
<body>
    <h2>{{ page_title }}</h2>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    <a href="{% url 'student:list_students' %}">Cancel</a>

</form>

</body>
</html>