<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }

        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }

        table#t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
<h2>{{ page_title }}</h2>
<table id="t01">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>About</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for student in object_list %}
        <tr>
            <td>{{ student.first_name}}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.about }}</td>
            <td><a href="{% url 'student:edit_student' pk=student.id %}">Edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'student:create_student' %}">Create Student</a>

</body>
</html>
